.header {
    background-color: black;
    color: white;
    height: 30px;
    margin: 0;
    padding: 10px 5px 5px;
    font-size: 20px;
    font-family: Arial;
    font-weight: 800;
}
body{
    background-image: url('sample.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    margin: 0;
    padding: 0;
}
.form, .signup-form, .account-form {
    border: 2px solid #424559;
    margin: 100px 50px;
    height: auto;
    padding-top: 30px;
    border-radius: 20px;
    background-color: white;
    opacity: 0.75;
    z-index: 50;
    text-align: center;
}
.signup-form, .account-form {
    margin: 50px 20px;
    padding-top: 20px;
    text-align: left;
}
.account-form {
    margin-top: 30px;
}
.login-title{
    font-family: Arial;
    font-size: 40px;
    font-weight: 800;
}
.signup-title {
    font-family: Arial;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    left: 0;
    margin-left: 10px;
}
.input-fields, .input-fields-signup {
    margin: 20px 20px 20px;
    border-top: 2px solid #424559;
    text-align: center;
}
.input-fields-signup {
    margin: 10px 10px 20px;
    text-align: left;
}
.username {
    margin: 40px 0 20px;
    border-radius: 20px;
    padding-left: 5px;
    background-color: white;
    opacity: 1;
    z-index: 50;
}
.password {
    border-radius: 20px;
    padding-left: 5px;
    background-color: white;
    opacity: 1;
    z-index: 50;
}
.name, .address, .number, .email, .birthday, .age, .gender ,.signup-username, .signup-password{
    border: none;
    border-bottom: 2px solid #d3d3d3;
    margin: 10px 0 10px;
    width: 100%;
}
.number, .age, .birthday, .gender {
    width: 49%;
}
.btn-submit {
    border-radius: 20px;
    border-color: #00a758;
    text-align: center;
    background-color: #00a758;
    font-family: Arial;
    font-size: 13px;
    color: white;
    margin-right: 5px;
    width: 70px;
    height: 30px;
}
.btn-reset {
    border-radius: 20px;
    border-color: #ec6453;
    text-align: center;
    background-color: #ec6453;
    font-family: Arial;
    font-size: 13px;
    color: white;
    width: 70px;
    height: 30px;
}
.buttons {
    margin-bottom: 20px;
    text-align: center;
}
.btn-signup, .btn-login, .home-options{
    border-radius: 20px;
    border-color: #00a758;
    text-align: center;
    background-color: #00a758;
    font-family: Arial;
    font-size: 13px;
    color: white;
    width: 70px;
    height: 30px;
    position: absolute;
    right: 0;
    margin-right: 5px;
    top: 8px;
}
.home-options {
    width: 80px;
}
.home-title, .account-title {
    font-family: Arial;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    left: 0;
    top: 10px;
    margin-left: 5px;
}
.account-title {
    top: 20px;
}
.add-button, .add-button-label {
    border-radius: 20px;
    border-color: #00a758;
    text-align: center;
    background-color: #00a758;
    font-family: Arial;
    font-size: 13px;
    color: white;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    margin-right: 5px;
    margin-top: 5px;
}
.country {
    margin: 15px 10px 20px;
    padding-top: 5px;
    height: 13%;
    border: 2px solid #424559;
    border-radius: 20px;
    opacity: 0.60;
    z-index: 50;
}
.country:first-child {
    background-color: #4d94ff;
    margin-top: 40px;
}
.country:nth-child(2) {
    background-color: #ff66ff;
}
.country:nth-child(3) {
    background-color: #ffff66;
}
.country:nth-child(4) {
    background-color: #ffc266;
}
.country:last-child {
    background-color: #ff8566;
}
.country-title {
    margin-left: 10px;
    font-family: Arial;
    font-weight: 600;
}
.dialog-hidden {
    height: 80%;
}
.country-desc {
    height: 80%;
    overflow-y: scroll;
    margin: 10px 10px 0;
}
.book-button {
    display: none;
}