.header {
    background-color: black;
    color: white;
    height: 30px;
    margin: 0;
    padding: 10px 5px 5px;
    font-size: 20px;
    font-family: Arial;
    font-weight: 800;
}
body {
    background-image: url('sample.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    margin: 0;
    padding: 0;
}
.form, .signup-form {
    border: 2px solid #424559;
    margin: 100px 50px;
    height: auto;
    padding-top: 30px;
    border-radius: 20px;
    background-color: white;
    opacity: 0.75;
    z-index: 50;
    text-align: center;
}
.signup-form {
    margin: 50px 20px;
    padding-top: 20px;
    text-align: left;
}
.login-title{
    font-family: Arial;
    font-size: 40px;
    font-weight: 800;
}
.signup-title {
    font-family: Arial;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    left: 0;
    margin-left: 10px;
}
.input-fields, .input-fields-signup {
    margin: 20px 20px 20px;
    border-top: 2px solid #424559;
    text-align: center;
}
.input-fields-signup {
    margin: 10px 10px 20px;
    text-align: left;
}
.username {
    margin: 40px 0 20px;
    border-radius: 20px;
    padding-left: 5px;
    background-color: white;
    opacity: 1;
    z-index: 50;
}
.password {
    border-radius: 20px;
    padding-left: 5px;
    background-color: white;
    opacity: 1;
    z-index: 50;
}
.name, .address, .number, .email, .birthday, .age, .gender ,.signup-username, .signup-password{
    border: none;
    border-bottom: 2px solid #d3d3d3;
    margin: 10px 0 10px;
    width: 100%;
}
.number, .age, .birthday, .gender {
    width: 49%;
}
.btn-submit {
    border-radius: 20px;
    border-color: #00a758;
    text-align: center;
    background-color: #00a758;
    font-family: Arial;
    font-size: 13px;
    color: white;
    margin-right: 5px;
    width: 70px;
    height: 30px;
}
.btn-reset {
    border-radius: 20px;
    border-color: #ec6453;
    text-align: center;
    background-color: #ec6453;
    font-family: Arial;
    font-size: 13px;
    color: white;
    width: 70px;
    height: 30px;
}
.buttons {
    margin-bottom: 20px;
    text-align: center;
}
.btn-signup, .btn-login{
    border-radius: 20px;
    border-color: #00a758;
    text-align: center;
    background-color: #00a758;
    font-family: Arial;
    font-size: 13px;
    color: white;
    width: 70px;
    height: 30px;
    position: absolute;
    right: 0;
    margin-right: 5px;
    top: 8px;
}